@import "@navikt/ds-tokens/darkside-css";

.formContainer {
  background-color: var(--ax-neutral-300);
  padding: var(--spacing-medium) var(--spacing-small);
  margin: var(--spacing-xlarge) 0;
  gap: var(--spacing-small);
  display: flex;
  flex-direction: column;
}

.button {
  max-width: max-content;
}
