.pageContainer {
  max-width: var(--max-width-page);
  margin: 0 auto;
}

.titleContainer {
  padding: 0 var(--spacing-small);
}

.title {
  font-weight: var(--font-weight-bold);
}

.titleDescription {
  font-weight: var(--font-weight-medium);
}

.conversationImage {
  max-width: 100%;
}
