@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@400;500;700&display=swap");

:root {
  --max-width-page: 800px;

  --spacing-small: 1.5rem;
  --spacing-medium: 3rem;
  --spacing-xlarge: 4rem;

  --border-mini: 0.005rem;

  --font-size-medium: 1.125rem;
  --font-size-large: 1.5rem;

  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  --color-black: #333;
  --color-white: #fff;
  --color-red: #c30000;
  --color-pink-light: #ffe6e6;

  --color-background-page: #f0f0f0;
}

html,
body {
  font-family: "Source Sans 3", system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: var(--color-background-page);
  margin: 0 auto;
  font-weight: var(--font-weight-regular);
  color: var(--color-black);
}
